<footer class="h-max w-full bg-white dark:bg-gray-900 py-5 md:width-screen">
    <a href="/" id="footer-brand" class="flex mx-auto w-max focus:outline-none py-1 px-2 focus:border-t-2 focus:border-b-2 border-cyan-700">
        <img width="40px" height="40px" src="./static/images/logo.png" class="mr-3 h-10 w-10" alt="logo">
        <span class="text-gray-900 self-center text-lg font-semibold whitespace-nowrap dark:text-white">Pascall De Creator</span>
    </a>
    <div class="flex mx-auto w-max mt-5">
        <a href="/blog"      class="dark:text-white mx-2 hover:text-cyan-700 text-gray-900 focus:outline-none focus:text-cyan-700">Blog</a>
        <a href="/support"   class="dark:text-white mx-2 hover:text-cyan-700 text-gray-900 focus:outline-none focus:text-cyan-700">Suppory</a>
        <a href="/community" class="dark:text-white mx-2 hover:text-cyan-700 text-gray-900 focus:outline-none focus:text-cyan-700">Community</a>
        <a href="/about"     class="dark:text-white mx-2 hover:text-cyan-700 text-gray-900 focus:outline-none focus:text-cyan-700">About</a>
    </div>
    <div class="flex mx-auto py-5 px-10 justify-between mt-5">
        <p class="mx-2 dark:text-white text-gray-900">&copy;_All_rights_reserved</p>
        <div class="flex">
            <a href="https://github.com/pascall-de-creator" class="focus:outline-none focus:text-cyan-700"><i class="text-gray-900 fa-brands fa-github mx-2 dark:text-white hover:text-cyan-700 "></i></a>
            <a href="https://www.facebook.com/pascall.de.creator/" class="focus:outline-none focus:text-cyan-700"><i class="text-gray-900 fa-brands fa-facebook-f mx-2 dark:text-white hover:text-cyan-700"></i></a>
            <a href="https://www.linkedin.com/in/pascall-de-creator-150b73215/?originalSubdomain=gh" class="focus:outline-none focus:text-cyan-700"><i class="text-gray-900 fa-brands fa-linkedin-in mx-2 dark:text-white hover:text-cyan-700"></i></a>
            <a href="https://twitter.com/Pascall_creator" class="focus:outline-none focus:text-cyan-700"><i class="text-gray-900 fa-brands fa-twitter mx-2 dark:text-white hover:text-cyan-700"></i></a>
        </div>
    </div>
</footer>