<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Relivant tech leads and useful insights about technology and prigramming on Pascall De Creator Online By Pascal Nkornyui">
    <meta name="keywords" content="tech programmign coding blogs pascall learning projects tools tips info news community">
    <meta name="theme-color" content="#1f2937">

    <meta data-rh="true" name="twitter:app:name:iphone" content="Pascall De Creator">
    <meta data-rh="true" name="twitter:app:id:iphone" content="828256236">
    <meta data-rh="true" property="al:ios:app_name" content="Pascall De Creator">
    <meta data-rh="true" property="al:ios:app_store_id" content="828256236">
    <meta data-rh="true" property="al:android:package" content="com.pascall-creator.reader">
    <meta data-rh="true" property="fb:app_id" content="542599432471018">
    <meta data-rh="true" property="og:site_name" content="Pascall de creator">
    <meta data-rh="true" property="og:type" content="article">
    <meta data-rh="true" name="twitter:card" content="summary_large_image">
    <meta data-rh="true" name="robots" content="index,follow,max-image-preview:large">
    <link data-rh="true" rel="canonical" href="pascall-creator.com">

    <link rel="stylesheet" href="/static/stylesheets/style.css" media="all">
    <link rel="stylesheet" href="dist/output.css" media="all">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.3.3/dist/flowbite.min.css" media="all"/>

    <link rel="manifest" href="/static/manifest.json">
    <link rel="alternate" href="/static/rss.xml" type="application/rss+xml" title="RSS">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/images/favicon.png">

    <script src="https://unpkg.com/flowbite@1.3.3/dist/flowbite.js"></script>
    
    <title>Pascall creator | <%= title %></title>
</head>