<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="container mx-auto bg-blue-50">
      <img class="" src="./static/images/banner.png" alt="">
  </div>
  <%- include("./partials/footer.ejs") %>
  <%- include("./partials/footer.ejs") %>
</body>
</html>
