<!DOCTYPE html>
<html lang="en" class="dark">
<%- include("./partials/head.ejs") %>
<body class="bg-gray-100 dark:bg-gray-800 overflow-y-scroll" onload="fetchAllBlogs()">
  <%- include("./partials/nav.ejs") %>
  <div id="main" class="flex flex-col container mx-auto">
    <!-- trending blog post -->

    <h1 class="text-2xl mt-10 font-semibold ml-5 border-t-2 pt-3 md:border-t-0 border-t-gray-500 text-gray-900 dark:text-white">Trending</h1>

    <div class="w-full top-blogCard mx-auto flex flex-col lg:flex-row my-3 justify-center">
      <img onload="removeAnimation(this)" width="auto" height="auto" class="skeleton top-blogImage object-cover h-96 lg:w-6/12 rounded-md w-100%"> 
      <div class="ml-3 flex flex-col lg:w-5/12 pt-2 lg:pt-0">
        <div class="flex mb-3 items-end">
            <a  class="mx-1 top-blogCategory w-max text-gray-900 dark:text-gray-300"></a>
            <p class="top-blogDate text-gray-900 text-base w-max mr-1 focus:text-blue-600 focus:outline-none dark:text-white"></p>
        </div>
        <div class="top-tagsList flex my-2 w-max">
            <a  class="top-tag-badge bg-gray-200 py-1 px-2 rounded-md text-xs mr-1 focus:border-blue-500"></a>
            <a  class="top-tag-badge bg-gray-200 py-1 px-2 rounded-md text-xs mr-1 focus:border-blue-500"></a>
            <a  class="top-tag-badge bg-gray-200 py-1 px-2 rounded-md text-xs mr-1 focus:border-blue-500"></a>
        </div>
          <a style="width: -webkit-fill-available;" class="skeleton-text truncate-3 top-blogHeadline mr-1 mb-3 text-gray-700 sm:text-xl font-semibold leading-normal md:text-xl dark:text-gray-300 focus:outline-none"></a>
          <a style="width: -webkit-fill-available;" class="skeleton-text truncate-8 my-1 text-clip overflow-hidden top-blogContent text-gray-900 text-base dark:text-gray-200 focus:outline-none"></a>
      </div>
    </div>

    <h1 class="text-2xl mt-10 font-semibold ml-5 border-t-2 pt-3 md:border-t-0 border-t-gray-500 text-gray-900 dark:text-white">Latest Posts.</h1>

    <div class="mt-10 grid justify-items-stretch justify-center grid-rows-4 grid-flow-row gap-4 md:grid-rows-2 md:grid-cols-2 lg:grid-rows-1 lg:grid-cols-4">
      <div class="latest-blogCard justify-between card flex flex-col my-1 max-w-11/12 p-2 bg-gray-100 border-2 border-gray-200 rounded-md dark:bg-gray-800 dark:border-gray-700 h-max">
        <div class="flex flex-col">
          <img onload="removeAnimation(this)"  width="auto" height="auto" class="skeleton latest-blogImage object-fill w-auto mx-auto md:w-auto rounded-md sm:w-100% md:w-100% md:h-auto">
          <div class="mt-5 flex-col">
            <div class="flex mb-3 items-end">
              <a class="latest-blogCategory text-sm w-max mr-1 text-gray-900  dark:text-white"></a>
              <a class="latest-blogDate w-max text-xs text-gray-900 dark:text-gray-300"></a>
            </div>
            <div class="tags flex my-2">
              <a  class="latest-tag-badge bg-gray-200 py-1 px-2 rounded-md text-xs mr-1 focus:border-blue-500"></a>
              <a  class="latest-tag-badge bg-gray-200 py-1 px-2 rounded-md text-xs mr-1 focus:border-blue-500"></a>
              <a  class="latest-tag-badge bg-gray-200 py-1 px-2 rounded-md text-xs mr-1 focus:border-blue-500"></a>
            </div>
            <a class="skeleton-text truncate-2 latest-blogHeadline mr-1 mb-3 text-gray-700 sm:text-xl font-semibold leading-normal md:text-xl dark:text-gray-300 focus:outline-none"></a>
          </div>
        </div>
      </div>
      <div class="latest-blogCard justify-between card flex flex-col my-1 max-w-11/12 p-2 bg-gray-100 border-2 border-gray-200 rounded-md dark:bg-gray-800 dark:border-gray-700 h-max">
        <div class="flex flex-col">
          <img onload="removeAnimation(this)"  width="auto" height="auto" class="skeleton latest-blogImage object-fill w-auto mx-auto md:w-auto rounded-md sm:w-100% md:w-100% md:h-auto" >
          <div class="mt-5 flex-col">
            <div class="flex mb-3 items-end">
              <a class="latest-blogCategory text-sm w-max mr-1 text-gray-900  dark:text-white"></a>
              <a class="latest-blogDate w-max text-xs text-gray-900 dark:text-gray-300"></a>
            </div>
            <div class="tags flex my-2">
              <a  class="latest-tag-badge bg-gray-200 py-1 px-2 rounded-md text-xs mr-1 focus:border-blue-500"></a>
              <a  class="latest-tag-badge bg-gray-200 py-1 px-2 rounded-md text-xs mr-1 focus:border-blue-500"></a>
              <a  class="latest-tag-badge bg-gray-200 py-1 px-2 rounded-md text-xs mr-1 focus:border-blue-500"></a>
            </div>
            <a class="skeleton-text truncate-2 latest-blogHeadline mr-1 mb-3 text-gray-700 sm:text-xl font-semibold leading-normal md:text-xl dark:text-gray-300 focus:outline-none"></a>
          </div>
        </div>
      </div>
      <div class="latest-blogCard justify-between card flex flex-col my-1 max-w-11/12 p-2 bg-gray-100 border-2 border-gray-200 rounded-md dark:bg-gray-800 dark:border-gray-700 h-max">
        <div class="flex flex-col">
          <img onload="removeAnimation(this)"  width="auto" height="auto" class="skeleton latest-blogImage object-fill w-auto mx-auto md:w-auto rounded-md sm:w-100% md:w-100% md:h-auto" >
          <div class="mt-5 flex-col">
            <div class="flex mb-3 items-end">
              <a class="latest-blogCategory text-sm w-max mr-1 text-gray-900  dark:text-white"></a>
              <a class="latest-blogDate w-max text-xs text-gray-900 dark:text-gray-300"></a>
            </div>
            <div class="tags flex my-2">
              <a  class="latest-tag-badge bg-gray-200 py-1 px-2 rounded-md text-xs mr-1 focus:border-blue-500"></a>
              <a  class="latest-tag-badge bg-gray-200 py-1 px-2 rounded-md text-xs mr-1 focus:border-blue-500"></a>
              <a  class="latest-tag-badge bg-gray-200 py-1 px-2 rounded-md text-xs mr-1 focus:border-blue-500"></a>
            </div>
            <a class="skeleton-text truncate-2 latest-blogHeadline mr-1 mb-3 text-gray-700 sm:text-xl font-semibold leading-normal md:text-xl dark:text-gray-300 focus:outline-none"></a>
          </div>
        </div>
      </div>
      <div class="latest-blogCard justify-between card flex flex-col my-1 max-w-11/12 p-2 bg-gray-100 border-2 border-gray-200 rounded-md dark:bg-gray-800 dark:border-gray-700 h-max">
        <div class="flex flex-col">
          <img onload="removeAnimation(this)"  width="auto" height="auto" class="skeleton latest-blogImage object-fill w-auto mx-auto md:w-auto rounded-md sm:w-100% md:w-100% md:h-auto">
          <div class="mt-5 flex-col">
            <div class="flex mb-3 items-end">
              <a class="latest-blogCategory text-sm w-max mr-1 text-gray-900  dark:text-white"></a>
              <a class="latest-blogDate w-max text-xs text-gray-900 dark:text-gray-300"></a>
            </div>
            <div class="tags flex my-2">
              <a  class="latest-tag-badge bg-gray-200 py-1 px-2 rounded-md text-xs mr-1 focus:border-blue-500"></a>
              <a  class="latest-tag-badge bg-gray-200 py-1 px-2 rounded-md text-xs mr-1 focus:border-blue-500"></a>
              <a  class="latest-tag-badge bg-gray-200 py-1 px-2 rounded-md text-xs mr-1 focus:border-blue-500"></a>
            </div>
            <a class="skeleton-text truncate-2 latest-blogHeadline mr-1 mb-3 text-gray-700 sm:text-xl font-semibold leading-normal md:text-xl dark:text-gray-300 focus:outline-none"></a>
          </div>
        </div>
      </div>
    </div>

    <h1 class="text-2xl mt-10 font-semibold ml-5 border-t-2 pt-3 md:border-t-0 border-t-gray-500 text-gray-900 dark:text-white">Other Posts.</h1>

    <div id="othersGrid" class="grid grid-cols-1 md:grid-cols-2 gap-2 grid-flow-row my-10 lg:grid-cols-2"> 
      
    </div>
    <a id="contentLoader" onclick="fetchOtherBlogs()" data-limit="12" data-end="0" class="text-gray-900 dark:text-white cursor-pointer btn mx-auto my-5 p-3 border-2 border-cyan-700 rounded-md">Load more content</a>
  </div>
  <%- include("./partials/footer.ejs") %>
  <%- include("./partials/scripts.ejs") %>
</body>
</html>
