<!DOCTYPE html>
<html lang="en" class="dark">
<%- include("./partials/head.ejs") %>
<body class="bg-gray-100 dark:bg-gray-800 overflow-y-scroll" onload="fetchBlogs()">
  <%- include("./partials/nav.ejs") %>
  <div id="main" class="container mx-auto sm:p-0 md:p-2 lg:p-2">

    <!-- trending blog post -->
    <div class="top-blogCard mx-auto flex flex-col lg:flex-row">
      <img width="auto" height="auto" class="top-blogImage object-cover h-96 md:w-100% rounded-md sm:w-100%" src="https://picsum.photos/200/300"> 
      <div class="ml-5 mt-5 flex flex-col justify-between md:ml-0 lg:ml-5 p-1">
        <div class="flex flex-col">
            <div class="flex mb-3 items-end">
                <a href="" class="top-blogCategory w-max text-gray-900 dark:text-gray-300"></a>
                <p class="top-blogDate text-gray-900 text-base w-max mr-1 focus:text-blue-600 focus:outline-none dark:text-white"></p>
            </div>
            <div class="top-tagsList flex my-2 w-max">
                <a href="" class="tag-badge bg-gray-200 py-1 px-2 rounded-md text-xs mr-1 focus:border-blue-500"></a>
                <a href="" class="tag-badge bg-gray-200 py-1 px-2 rounded-md text-xs mr-1 focus:border-blue-500"></a>
                <a href="" class="tag-badge bg-gray-200 py-1 px-2 rounded-md text-xs mr-1 focus:border-blue-500"></a>
            </div>
            <div>
                <a href="" class="top-blogHeadline mr-1 mb-3 text-gray-700 sm:text-xl font-semibold leading-normal md:text-2xl 2xl:text-4xl dark:text-gray-300 focus:outline-none"></a>
                <a href="" class="truncate-8 my-1 text-clip overflow-hidden top-blogContent text-gray-900 text-base dark:text-gray-200 focus:outline-none"></a>
            </div>
        </div>
      </div>
    </div>

  </div>
  <%#- include("./partials/pagination.ejs") %>
  <%- include("./partials/footer.ejs") %>
  <%- include("./partials/scripts.ejs") %>
</body>
</html>
