<!DOCTYPE html>
<html lang="en" class="dark">
<%- include("./partials/head.ejs") %>
<body class="bg-gray-100 dark:bg-gray-800">
  <%- include("./partials/nav.ejs") %>
  <div class="container mx-auto flex flex-col justify-between items-center my-60">
    <h1 class="text-9xl text-gray-900 mx-auto my-10 dark:text-white text-center">offline</h1>
    <h3 class="text-2xl text-gray-900 mx-auto my-10 dark:text-gray-300 text-center">Looks like your offline, try reconnecting and reloading or browse pre-loaded pages</h3>
    <a href="/" class="btn bg-cyan-700 text-white px-3 py-2 rounded-md hover:shadow-md focus:bg-blue-500 focus:shadow-none">Go Home</a>
  </div>
  <%- include("./partials/footer.ejs") %>
  <%- include("./partials/scripts.ejs") %>
</body>