<!DOCTYPE html>
<html lang="en" class="dark">
<%- include("./partials/head.ejs") %>
<body class="bg-gray-100 dark:bg-gray-800">
  <%- include("./partials/nav.ejs") %>
  <table>
      <tbody>
          <td>
              <th>pascall</th>
              <th>hmm</th>
          </td>
      </tbody>
  </table>
  <%- include("./partials/footer.ejs") %>
  <%- include("./partials/scripts.ejs") %>
</body>