<!DOCTYPE html>
<html lang="en" class="dark">
<%- include("./partials/head.ejs") %>
<body class="bg-gray-100 dark:bg-gray-800 overflow-y-scroll" onload="renderBlog()">
    <%- include("./partials/nav.ejs") %>
    <div class="flex flex-row justify-center md:my-5">
        <div id="contentPanel" class="screen md:w-6/12 md:mx-2 bg-gray-200 dark:bg-gray-900 md:rounded-lg">
            <img src="/static/images/thumbHolder.png" width="100%" height="auto" id="blogThumbnail" class="md:rounded-t-lg" alt="thumbnail">
            <h1 id="blogHeadline" class="w-11/12 mx-auto text-gray-900 dark:text-white my-3"></h1>
            <p id="date" class="w-11/12 mx-auto text-gray-800 dark:text-white text-lg my-1"></p>
            <p id="category" class="w-11/12 mx-auto text-gray-800 dark:text-white my-1"></p>
            <div id="blogTagList" class="w-11/12 mx-auto text-gray-700 dark:text-white my-1"></div>
            <p id="blogContent" class="first-letter:text-4xl w-11/12 mx-auto text-gray-900 dark:text-white my-3 text-2xl"></p>
        </div>
        <div id="more" class="hidden md:block more w-80 mx-2 bg-gray-200 dark:bg-gray-900 h-max rounded-lg"></div>
    </div>
    <div
    <%- include("./partials/footer.ejs") %>
    <%- include("./partials/scripts.ejs") %>
</body>
</html>