*{
  transition: 0.2s;
  font: poppins;
}
body {
  margin: 0;
  width: 100vw;
  overflow: hidden;
}
nav ul a:focus {
    padding-bottom: 2px;
    border-bottom-color: cyan;
    border-bottom-width: 2px;
    outline: none;
    border-radius: 0px!important;
}
.group {
  .group-content {
    display: none;
  }
}
.group:hover, .group:active  {
  .group-content{
    display: flex;
  }
}
.table {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px gray solid;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    padding: 1rem 2rem;
  }
}